language: node_js
node_js:
  - 9
  - 8
  - 7
  - 6
  - 10
addons:
  postgresql: '9.5'
services:
  - postgresql
before_install:
  - '[[ $(node -v) =~ ^v9.*$ ]] || npm install -g npm@latest'
  - npm i -g greenkeeper-lockfile
install: npm install
before_script:
  - psql -c 'create database massive;' -U postgres
  - greenkeeper-lockfile-update
after_script:
  - greenkeeper-lockfile-upload
after_success:
  - npm run coverage
